<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qoot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".singleScheduledRequest"></activity>
        <activity android:name=".BrowseSingleRequest" />
        <activity android:name=".volunteerSingleRequest" />
        <activity android:name=".volunteer_notification" />
        <activity android:name=".DonatorNotifications" />
        <activity android:name=".single_offer" />
        <activity android:name=".list_offers" />
        <activity android:name=".VolunteerRequestInfo" />
        <activity android:name=".DonatorRequestInfo" />
        <activity android:name=".requestForm" />
        <activity android:name=".DonatorRequests" />
        <activity android:name=".DonatorProfile" />
        <activity android:name=".EditDonatorProfile" />
        <activity android:name=".EditVolunteerProfile" />
        <activity android:name=".VolunteerProfile" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterAsDonator" />
        <activity android:name=".RegisterAsVolunteer" />
        <activity android:name=".SignUpAs" />
        <activity android:name=".VolunteerRequests" />
        <activity android:name=".AllRequests" />
    </application>

</manifest>